<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SpeechCare Hub{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo-modified.png') }}" />

  <!-- CSS Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  
  {% block extra_css %}{% endblock %}
</head>

<body>

  <!-- Page wrapper starts -->
  <div class="page-wrapper">

    <!-- App header starts -->
    <div class="app-header d-flex align-items-center">
      <!-- Toggle buttons -->
      <div class="d-flex">
        <button class="toggle-sidebar"><i class="ri-menu-line"></i></button>
        <button class="pin-sidebar"><i class="ri-menu-line"></i></button>
      </div>
      <!-- App brand -->
      <div class="app-brand ms-3">
        <a href="{{ url_for('general.home') }}" class="d-lg-block d-none">
          <img src="{{ url_for('static', filename='images/logo1.png') }}" class="logo" alt="SpeechCare Hub Logo">
        </a>
      </div>
      <!-- Header actions -->
      <div class="header-actions">
        <div class="dropdown ms-2">
          <a id="userSettings" class="dropdown-toggle d-flex align-items-center" href="#!" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <div class="avatar-box">AH<span class="status busy"></span></div>
          </a>
          <div class="dropdown-menu dropdown-menu-end shadow-lg">
            <div class="px-3 py-2">
              <span class="small">Admin</span>
              <h6 class="m-0">Ahmed Ali</h6>
            </div>
            <div class="mx-3 my-2 d-grid">
              <a href="{{ url_for('general.home') }}" class="btn btn-danger">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- App header ends -->

    <!-- Main container -->
    <div class="main-container">
      <!-- Sidebar -->
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-profile">
          <img src="{{ url_for('static', filename='images/doctor-3.jpg') }}" class="img-shadow img-3x me-3 rounded-5"
            alt="Admin Profile Picture">
          <div>
            <h5 class="profile-name">Ahmed Ali</h5>
            <p class="small profile-name">Dept Admin</p>
          </div>
        </div>
        <ul class="sidebar-menu">
          <li class="{% if active_page == 'admin_dashboard' %}active current-page{% endif %}"><a href="{{ url_for('admin.admin_dashboard') }}" class="sidebar-link"><i class="ri-dashboard-line"></i> Dashboard</a></li>
          <li class="{% if active_page == 'patient_list' %}active current-page{% endif %}"><a href="{{ url_for('patient.patient_list') }}" class="sidebar-link"><i class="ri-user-line"></i> Patient List</a></li>
          <li class="{% if active_page == 'edit_patient' %}active current-page{% endif %}"><a href="{{ url_for('admin.edit_patient') }}" class="sidebar-link"><i class="ri-edit-line"></i> Edit Patient</a></li>
          <li class="{% if active_page == 'therapist_list' %}active current-page{% endif %}"><a href="{{ url_for('therapist.therapist_list') }}" class="sidebar-link"><i class="ri-file-list-line"></i> Therapist List</a></li>
          <li class="{% if active_page == 'add_therapist' %}active current-page{% endif %}"><a href="{{ url_for('admin.add_therapist') }}" class="sidebar-link"><i class="ri-hospital-line"></i> Add Therapist</a></li>
          <li class="{% if active_page == 'edit_therapist' %}active current-page{% endif %}"><a href="{{ url_for('admin.edit_therapist') }}" class="sidebar-link"><i class="ri-edit-line"></i> Edit Therapist</a></li>
          <li class="{% if active_page == 'appoint_list' %}active current-page{% endif %}"><a href="{{ url_for('appointment.appoint_list') }}" class="sidebar-link"><i class="ri-file-list-line"></i>Appointment List</a></li>
          <li class="{% if active_page == 'edit_appointment' %}active current-page{% endif %}"><a href="{{ url_for('appointment.edit_appointment') }}" class="sidebar-link"><i class="ri-calendar-line"></i> Edit Appointment</a></li>
        </ul>
      </nav>
      <!-- Sidebar ends -->

      <!-- Page-specific content -->
      <div class="app-container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='javascript/dashboard.js') }}"></script>
  {% block extra_js %}{% endblock %}
</body>

</html>